<div class="row">
  <div class="panel-body table-responsive no-border">
    <span> </span><span> </span><span> </span><span> </span><span> </span
    ><span> </span><span> </span><span> </span><span> </span>
    <table class="table table-hover table-striped table-condensed" *ngIf="estudio.Imagen?.length">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Valor</th>
          <th>Unidad</th>
          
        </tr>
      </thead>

      <tbody >
        <tr class="estudios_lab" *ngFor="let i of estudio.Imagen">
          <td style="white-space: pre-wrap">{{i.DeterminacionNombre}}</td>
          <td style="white-space: pre-wrap">{{i.Valor}}</td>
          <td style="white-space: pre-wrap">{{i.Referencia}}</td>          
        </tr>
        
      </tbody>
    </table>
  </div>
</div>